@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-field {

}

.menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.js-menu-open {
}


.wrapper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-btn-icon {
    fill: fn.get-color('light')
}
.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-icon {
    fill: fn.get-color('light-tertiary');
    height: 20px;
}
.search-input {
      display: none;
}
.notification-btn {
}
.btn {
}
.notification-btn-icon {
    fill: fn.get-color('light-tertiary')
}

@include mx.mq('lg') {
    .menu-btn {
        display: none;
    }

    .search-input {
        display: flex;
        flex-direction: row;
    }

    .search-field {
        gap: 12px;
    }

    .wrapper-header {
        justify-content: space-between;
        width: 100%;
    }
}