@use '../utils/functions' as fn;

.reports {
    grid-area: reports;
    background-color: fn.get-color('dark-tertiary');
}

.reports-title {
}
.reports-list {
}
.reports-item {
}
.reports-co-worker {
}
.co-worker {
}
.co-worker-thumb {
}
.co-worker-avatar {
}
.co-worker-caption {
}
.reports-bar {
}
.progress-bar {
}
.reports-status {
}
.up {
}
.dash {
}
.down {
}