@use '../utils/functions' as fn;

.tasks {
    grid-area: tasks;
    background-color: fn.get-color('dark-tertiary');
}

.tasks-title {
}
.tasks-list {
}
.tasks-item {
}
.tasks-checkbox {
}
.tasks-input {
}
.visually-hidden {
}
.tasks-checkbox-icon {
}
.tasks-info {
}
.tasks-heading {
}
.tasks-desc {
}
.tasks-btn {
}
.tasks-btn-icon {
}