$breakpoints: (
    'sm': 375px,
    'md': 768px,
    'lg': 1200px,
    'xl': 1440px,
    'xxl': 1920px
);

$colors: (
    'light': #FFFFFF,
    'light-primary': #FAFAFB,
    'light-secondary': #B5B5BE,
    'light-tertiary': #92929D,

    'dark': #000000,
    'dark-primary': #13131A,
    'dark-secondary': #1C1C24,
    'dark-tertiary': #292932,

    'accent-primary': #F07F2E,
    'accent-secondary': #D14A00,
    'accent-tertiary': #D14A00,

    'danger': #FC5A5A,
    'warning': #A461D8,
    'success': #82C43C,
    'info': #4E75FF,

    'transparent': transparent,
    'current': currentColor
);

$paddings: (
    'sm': 4px,
    'md': 8px,
    'lg': 16px,
    'xl': 20px,
);

$spacings: (
    'sm': 24px,
    'md': 32px,
    'lg': 36px,
    'xl': 68px,
);

$main-font: 'Montserrat';

$font-weights: (
    'Regular': 400,
    'Medium': 500,
    'SemiBold': 600,
    'Bold': 700
);

$font-sizes: (
    'sm': 14px,
    'md': 16px,
    'lg': 20px,
    'xl': 24px
);

$easings: (
    'fast': 300ms ease,
    'slow': 600ms ease
)