@if index($btn-types, default) {
    .btn--default {
        background-color: #92929d;

        &:active {
            background-color: darken(#92929d, 10%);
        }

        @media (hover: hover) {
            &:hover,
            &:focus {
                background-color: lighten(#92929d, 10%);
            }
        }

        &[disabled] {
            color: #b5b5be;
        }
    }
}